<div class="restablecer-container">

  <div class="restablecer-card">


    <div class="restablecer-cabecera">

      <div class="restablecer-icono">
        🔑
      </div>


      <h1>
        Nueva contraseña
      </h1>


      <p>
        Introduce tu nueva contraseña.
      </p>

    </div>


    @if (!correcto) {

      <form
        class="restablecer-formulario"
        (ngSubmit)="restablecer()"
      >


        <div class="campo">

          <label for="password">
            Nueva contraseña
          </label>


          <input
            id="password"
            type="password"
            placeholder="Nueva contraseña"
            [(ngModel)]="password"
            name="password"
            [disabled]="cargando"
          >

        </div>


        <div class="campo">

          <label for="confirmarPassword">
            Repite la contraseña
          </label>


          <input
            id="confirmarPassword"
            type="password"
            placeholder="Repite la contraseña"
            [(ngModel)]="confirmarPassword"
            name="confirmarPassword"
            [disabled]="cargando"
          >

        </div>


        @if (error) {

          <div class="restablecer-error">

            {{ error }}

          </div>

        }


        <button
          class="btn-restablecer"
          type="submit"
          [disabled]="cargando"
        >

          @if (cargando) {

            Guardando...

          } @else {

            Cambiar contraseña

          }

        </button>


      </form>

    } @else {

      <div class="restablecer-ok">

        <div class="ok-icono">
          ✅
        </div>


        <h2>
          Contraseña cambiada
        </h2>


        <p>
          Tu contraseña se ha cambiado
          correctamente.
        </p>


        <button
          class="btn-restablecer"
          type="button"
          (click)="volverLogin()"
        >

          Ir al inicio de sesión

        </button>

      </div>

    }


  </div>

</div>
