<div class="grupos-container">

  <div class="cabecera">

    <div>

      <h1>
        Tus grupos
      </h1>

      <p>
        Gestiona tus gastos compartidos
      </p>

    </div>


    <button
      class="btn-nuevo"
      (click)="nuevoGrupo()"
    >

      ➕ Nuevo grupo

    </button>

  </div>


  <div class="lista-grupos">


    @for (
      grupo of grupos;
      track grupo.id
    ) {


      <div
        class="grupo-card"
        (click)="abrirGrupo(grupo.id)"
      >


        <!-- FOTO DEL GRUPO -->

        <div class="grupo-icono">


          <img
            *ngIf="grupo.foto"
            [src]="'http://localhost:8080' + grupo.foto"
            [alt]="grupo.nombre"
            class="grupo-foto"
          >


          <!-- ICONO POR DEFECTO -->

          <span
            *ngIf="!grupo.foto"
          >

            👨‍👩‍👧‍👦

          </span>


        </div>


        <div class="grupo-info">


          <h2>

            {{ grupo.nombre }}

          </h2>


          <p>

            {{ grupo.descripcion }}

          </p>


        </div>


        <div class="grupo-saldo">


          <span>
            Tu saldo
          </span>


          <strong>
            0,00 €
          </strong>


        </div>


      </div>


    }


  </div>


</div>
