<div class="login-container">


  <div class="login-card">


    <!-- LOGO / TÍTULO -->

    <div class="login-cabecera">

      <div class="login-icono">

        💰

      </div>


      <h1>
        Gastos PerezBuseu
      </h1>


      @if (modoRegistro) {

        <p>
          Crea una cuenta para empezar
        </p>

      } @else {

        <p>
          Inicia sesión para continuar
        </p>

      }

    </div>


    <!-- FORMULARIO -->

    <form
      class="login-formulario"
      (ngSubmit)="
        modoRegistro
        ? registrarse()
        : iniciarSesion()
      "
    >


      <!-- NOMBRE -->

      @if (modoRegistro) {

        <div class="campo">

          <label for="nombre">

            Nombre

          </label>


          <input
            id="nombre"
            type="text"
            placeholder="Tu nombre"
            [(ngModel)]="nombre"
            name="nombre"
            [disabled]="cargando"
          >

        </div>

      }


      <!-- EMAIL -->

      <div class="campo">

        <label for="email">

          Email

        </label>


        <input
          id="email"
          type="email"
          placeholder="tu@email.com"
          [(ngModel)]="email"
          name="email"
          [disabled]="cargando"
        >

      </div>


      <!-- CONTRASEÑA -->

      <div class="campo">

        <label for="password">

          Contraseña

        </label>


        <input
          id="password"
          type="password"
          placeholder="Introduce tu contraseña"
          [(ngModel)]="password"
          name="password"
          [disabled]="cargando"
        >

      </div>


      <!-- CONFIRMAR CONTRASEÑA -->

      @if (modoRegistro) {

        <div class="campo">

          <label for="confirmarPassword">

            Repite la contraseña

          </label>


          <input
            id="confirmarPassword"
            type="password"
            placeholder="Repite tu contraseña"
            [(ngModel)]="confirmarPassword"
            name="confirmarPassword"
            [disabled]="cargando"
          >

        </div>

      }


      <!-- ERROR -->

      @if (error) {

        <div class="login-error">

          {{ error }}

        </div>

      }


      <!-- BOTÓN PRINCIPAL -->

      <button
        class="btn-login"
        type="submit"
        [disabled]="cargando"
      >

        @if (cargando) {

          @if (modoRegistro) {

            Creando cuenta...

          } @else {

            Iniciando sesión...

          }

        } @else {

          @if (modoRegistro) {

            Crear cuenta

          } @else {

            Iniciar sesión

          }

        }

      </button>


    </form>


    <!-- CAMBIAR ENTRE LOGIN Y REGISTRO -->

    <div class="cambiar-modo">


      @if (modoRegistro) {

        <span>
          ¿Ya tienes una cuenta?
        </span>


        <button
          type="button"
          (click)="cambiarModo()"
          [disabled]="cargando"
        >

          Inicia sesión

        </button>

      } @else {

        <span>
          ¿No tienes cuenta?
        </span>


        <button
          type="button"
          (click)="cambiarModo()"
          [disabled]="cargando"
        >

          Crear una cuenta

        </button>

      }


    </div>


  </div>


</div>
