<div class="recuperar-container">

  <div class="recuperar-card">


    <div class="recuperar-cabecera">

      <div class="recuperar-icono">
        🔐
      </div>


      <h1>
        Recuperar contraseña
      </h1>


      <p>
        Introduce tu email y te enviaremos
        un enlace para crear una nueva contraseña.
      </p>

    </div>


    @if (!enviado) {

      <form
        class="recuperar-formulario"
        (ngSubmit)="solicitar()"
      >


        <div class="campo">

          <label for="email">
            Email
          </label>


          <input
            id="email"
            type="email"
            placeholder="tu@email.com"
            [(ngModel)]="email"
            name="email"
            [disabled]="cargando"
          >

        </div>


        @if (error) {

          <div class="recuperar-error">

            {{ error }}

          </div>

        }


        <button
          class="btn-recuperar"
          type="submit"
          [disabled]="cargando"
        >

          @if (cargando) {

            Enviando...

          } @else {

            Enviar enlace

          }

        </button>


      </form>

    } @else {

      <div class="recuperar-ok">

        <div class="ok-icono">
          ✉️
        </div>


        <h2>
          Comprueba tu correo
        </h2>


        <p>
          Si existe una cuenta asociada a ese
          email, recibirás un enlace para
          restablecer la contraseña.
        </p>

      </div>

    }


    <div class="recuperar-volver">

      <button
        type="button"
        (click)="volverLogin()"
      >

        ← Volver al inicio de sesión

      </button>

    </div>


  </div>

</div>
